Repository pyronear/pyro-risks, pull requests merged in 2020-11, with the labels that each got.

#5 chore: Optimized cache usage in CI
  .github/workflows/doc-deploy.yaml
  .github/workflows/main.yml
Labels: topic: build

#6 feat: Added NOAA weather and BDIFF wildfire history datasets
  .github/workflows/doc-deploy.yaml
  .github/workflows/main.yml
  docs/source/datasets.rst
  docs/source/index.rst
  mypy.ini
  pyronear_ds/config.py
  pyronear_ds/datasets/__init__.py
  pyronear_ds/datasets/masks.py
  pyronear_ds/datasets/utils.py
  pyronear_ds/datasets/weather.py
  pyronear_ds/datasets/wildfires.py
  requirements.txt
  scripts/example_weather_wildfire.py
  setup.py
  test/test_datasets.py
Labels: documentation, module: datasets, module: test

#7 Firms dataset
  .gitignore
  docs/source/conf.py
  pyronear_ds/config.py
  pyronear_ds/datasets/__init__.py
  pyronear_ds/datasets/nasa_wildfires.py
  pyronear_ds/datasets/weather.py
  scripts/example_NASA_FIRMS.py
  test/test_datasets.py
Labels: module: datasets

#9 feat: Datasets merger functions
  pyronear_ds/datasets/datasets_mergers.py
  pyronear_ds/datasets/nasa_wildfires.py
  pyronear_ds/datasets/utils.py
  pyronear_ds/datasets/weather.py
  scripts/example_NASA_FIRMS.py
  scripts/example_weather_wildfire.py
  test/test_core.py
  test/test_datasets.py
Labels: module: datasets, module: test, module: utils

#4 feat: Add datasets module
  .gitignore
  pyronear_ds/datasets/utils.py
  requirements.txt
  setup.py
  test/test_datasets.py
Labels: module: datasets, module: utils

#10 FWI netcdf load and processing
  .gitignore
  pyronear_ds/config.py
  pyronear_ds/datasets/fwi.py
  requirements.txt
  setup.py
  test/test_datasets.py
Labels: enhancement, module: datasets

#12 refactor: Renamed repo
  .coveragerc
  docs/source/conf.py
  docs/source/datasets.rst
  docs/source/index.rst
  docs/source/installing.rst
  mypy.ini
  pyro_risks/__init__.py
  pyro_risks/config.py
  pyro_risks/datasets/__init__.py
  pyro_risks/datasets/datasets_mergers.py
  pyro_risks/datasets/fwi.py
  pyro_risks/datasets/masks.py
  pyro_risks/datasets/nasa_wildfires.py
  pyro_risks/datasets/utils.py
  pyro_risks/datasets/weather.py
  pyro_risks/datasets/wildfires.py
  pyro_risks/version.py
  scripts/example_NASA_FIRMS.py
  scripts/example_weather_wildfire.py
  setup.py
  test/test_core.py
  test/test_datasets.py
Labels: documentation, module: datasets, module: models, module: test, module: utils, topic: build

#14 chore: Fixed doc deploy
  .github/workflows/doc-deploy.yaml
Labels: bug, documentation, topic: build

#17 chore: Added MacOS & Windows build jobs
  .github/workflows/main.yml
Labels: help wanted, topic: build

#16 docs: Add README and CONTRIBUTING files
  CONTRIBUTING.md
  README.md
Labels: documentation
