Repository pyronear/pyro-risks, pull requests merged in 2020-12, with the labels that each got.

#22 Modeling - Score v0
  pyro_risks/config.py
  pyro_risks/datasets/__init__.py
  pyro_risks/datasets/era_fwi_viirs.py
  pyro_risks/models/score_v0.py
  scripts/example_scorev0.py
  test/test_datasets.py
  test/test_models.py
Labels: enhancement, module: models, module: test

#23 New era5 file
  pyro_risks/config.py
  test/test_datasets.py
Labels: module: datasets

#24 Fix proximity
  pyro_risks/config.py
  pyro_risks/datasets/ERA5.py
  pyro_risks/datasets/datasets_mergers.py
  pyro_risks/datasets/utils.py
  requirements.txt
  scripts/example_ERA5_VIIRS.py
  setup.py
  test/test_datasets.py
Labels: bug, module: datasets, module: test, module: utils

#25 Predict module
  .github/workflows/main.yml
  pyro_risks/config.py
  pyro_risks/datasets/ERA5.py
  pyro_risks/datasets/era_fwi_viirs.py
  pyro_risks/datasets/fwi.py
  pyro_risks/datasets/queries_api.py
  pyro_risks/models/predict.py
  requirements.txt
  setup.py
  test/test_datasets.py
  test/test_models.py
Labels: enhancement, module: datasets, module: models

#27 feat: Added web server for deployment
  .github/workflows/web-server.yml
  Aptfile
  Dockerfile
  Procfile
  README.md
  app/api/inference.py
  app/api/routes/risk.py
  app/api/schemas.py
  app/config.py
  app/main.py
  docker-compose.yml
  pyro_risks/__init__.py
  pyro_risks/config.py
  pyro_risks/datasets/era_fwi_viirs.py
  pyro_risks/datasets/queries_api.py
  pyro_risks/models/__init__.py
  pyro_risks/models/predict.py
  pyro_risks/models/score_v0.py
  requirements-app.txt
  requirements.txt
  setup.py
Labels: enhancement, module: datasets, topic: app, topic: build

#29 Switch to Era5t data
  pyro_risks/config.py
  pyro_risks/datasets/era_fwi_viirs.py
  pyro_risks/models/predict.py
  test/test_datasets.py
  test/test_models.py
Labels: enhancement, module: datasets, module: models
